@{
    ViewBag.Title = "Execution Page";
}

@model Web.Models.CreatorViewModel

<div class="jumbotron">
    <input type="button" id="btnCreateWorld" value="New World!" />

    <input type="button" id="btnNextStep" value="Next step..." />

    <input type="button" id="btnStart" value="Start" />
    <input type="button" id="btnStop" value="Stop" style="display: none;" />
</div>

<div>
    @Html.Partial("_Parameters", Model.ModelViewModel)
</div>

<br />
<div id="world">
    @Html.Partial("_World", Model)
</div>

@section scripts
{
    @*<link rel="stylesheet" type="text/css" href="css/style.css" />*@
    <script type="text/javascript" src="Scripts/script.js"></script>
}